python-dotenv==1.0.1 # For reading environment variables stored in .env file
langchain==0.2.2
langchain-community==0.2.3
langchain-openai==0.1.8 # For embeddings
unstructured==0.14.4 # Document loading
pgvector==0.3.6
psycopg2==2.9.10
tiktoken==0.7.0  # For embeddings 